[defaults]
vault_password_file = ansible/vault-password.sh
interpreter_python = /usr/bin/python3
deprecation_warnings = False
inject_facts_as_vars = True
roles_path = ansible/roles
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 86400
inventory = ansible/hosts

[ssh_connection]
ssh_args = -o IdentityAgent=~/.bitwarden-ssh-agent.sock -C -o ControlMaster=auto -o StrictHostKeyChecking=accept-new -o ControlPersist=60s
