client {
  enabled = true
{% for vol in nomad_host_volumes %}

  host_volume "{{ vol.name }}" {
    path      = "{{ vol.path }}"
    read_only = false
  }
{% endfor %}
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

plugin "docker" {
  config {
    allow_privileged = true
    volumes {
      enabled = true
    }
  }
}

{% if nomad_usb_plugin_enabled %}
plugin_dir = "/opt/nomad/plugins"

plugin "usb" {
  config {
    enabled            = true
    fingerprint_period = "5s"
  }
}
{% endif %}
